/* src\json\YouTube\Display-Icons-Images-from-JSON-File-in-React-JS\styles.css */

body {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.App {
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    max-width: 620px;
    margin: 0 auto;
}

.box {
    border: 1px solid #555;

}

.box img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}